.menu {
    color: white;
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 40px;
}
.links {
    color: white;
    padding: 11px 19px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.redes {
    display: inline-block;
    padding: 00px 0px 0px 700px;
    align-items: center;
    
}
.brasoes {
    display: inline-block;
    padding: 10px 0px 0px 0px;
}
.title {
    text-align: center;
    color: black;
    font-size: 40px;
    font-style: italic;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 900;
    width: auto;
    height: auto;
}
.rodape {
    background-color:lightgrey;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}
.linkjog {
    color: white;
    font-style: inherit;
    display: inline-block;
    padding: 5px 0px 0px 0px;
}
a {
    text-decoration:none;
}
.a:hover {
    background-color: #111;
  }
.main {
    margin-left: 240px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;
  }

.sides {
    border: 1px solid white;
    border-radius: 4px;
    float: left;
    width: 15%;; /* only for demonstration, should be removed */
    background-color: #333;
    padding: 10px;
    color:white;
    display: block;
  }

.joga{
    float: left;
    height: 240px;
    margin-bottom: 30px;
    margin-right: 15px;
    max-width: 180px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
    width: 100%
}
.historia{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: justify;
    margin-left: 120px;
    margin-right:120px;
}
.principal {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: justify;
}

