.esquerda {
    float: left;
    width: 100px;
    height:50;
    padding: 5px;
}
.menor {
    float: left;
    width: 72px;
    height: 36px;
    padding: 5px;
}
.pat {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}